.intro {
  max-width: calc(100% - 590px);
  margin: 0 442px 92px 148px;

}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 286px 92px 48px;
    max-width: calc(100% - 334px);
  }

}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100% - 48px);
    margin: 0 auto 88px;
  }

}

@media screen and (max-width: 560px) {
  .intro {
    max-width: calc(100% - 32px);
    margin: 0 auto 64px;
  }

}
