.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 640px;
  margin: 39px auto 64px auto;

  }

  @media screen and (max-width: 1024px) {
    .lead__subtitle {
      margin: 39px auto 56px auto;
    }

  }
