.cover {
  max-width: 1184px;
  margin: 88px auto;

}


@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    margin: 75px auto 93px;
  }

}

@media screen and (max-width: 560px) {
  .cover {
    margin: 66px 0 64px 0;
  }

}
