.cover {
  max-width: 1184px;
  margin: 92px auto;
  border: 2px solid red;
  display: flex;
  align-items: center;
  position: relative;
  transition: opacity 0.6s;
}

.cover:hover {
  opacity: .8;
}
