.footer {
  max-width: calc(100% - 96px);
  margin: 0 auto 24px auto;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
  }

}

@media screen and (max-width: 560px) {
  .footer {
    max-width: calc(100% - 134px);
    margin: 64px 118px 24px 16px;
    flex-direction: column;
  }

}
